<h1><%= @group.name %></h1>

<h2>Payments:</h2>
<ul>
  <% @group.payments.each do |payment| %>
    <li><%= payment.name %> - <%= payment.amount %></li>
  <% end %>
</ul>

<%= link_to 'View All Payments', group_payments_path(@group) %>
